<div
  [ngClass]="classes"
  style="display: flex; gap: 20px; flex-direction: column;"
>
  <mat-card
    (click)="onSelect(true)"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    matRipple
  >
    <mat-card-title>
      {{ cardTitle | titlecase }}
    </mat-card-title>

    <mat-card-subtitle>
      <ng-container *ngIf="state !== cardType.DISABLED">
        {{ cardSubtitle$ | async }}
      </ng-container>
    </mat-card-subtitle>

    <mat-card-content>
      {{ cardContent$ | async | titlecase }}
    </mat-card-content>

    <mat-icon>home</mat-icon>
  </mat-card>

  <div *ngIf="isVisible" class="card-container">
    <div class="card-container__header">
      <h1>{{ cardContainerTitle | titlecase }}</h1>

      <mat-icon (click)="onSelect(false)">close</mat-icon>
    </div>

    Please detach component and add the content that you need. The icon from the bottom should be the same with the icon from cluster card that is active
    <br />
    <br />
    Please detach component and add the content that you need. The icon from the bottom should be the same with the icon from cluster card that is active

    <br />
    <br />
    <br />
    Please detach component and add the content that you need. The icon from the bottom should be the same with the icon from cluster card that is active
    Please detach component and add the content that you need. The icon from the bottom should be the same with the icon from cluster card that is active
    Please detach component and add the content that you need.
    <mat-icon class="card-container__icon-bottom">file_copy</mat-icon>
  </div>
</div>
