<div style="display: flex; gap: 20px; flex-direction: column;">
  <mat-card color="accent" matRipple>
    <mat-card-title>
     Title
    </mat-card-title>
    <mat-card-subtitle>3</mat-card-subtitle>
    <mat-card-content>
     Subtitle
    </mat-card-content>
    <mat-icon>home</mat-icon>
</mat-card>

<div class="card-container">
  <h1>Title Container  <mat-icon>close</mat-icon></h1>
 
  Please detach component and add the content that you need. The icon from the bottom should be the same with the icon from cluster card that is active
  <br />
  Please detach component and add the content that you need. The icon from the bottom should be the same with the icon from cluster card that is active

  <br />
  <br />
  Please detach component and add the content that you need. The icon from the bottom should be the same with the icon from cluster card that is active
  Please detach component and add the content that you need. The icon from the bottom should be the same with the icon from cluster card that is active
  Please detach component and add the content that you need.
  <mat-icon>file_copy</mat-icon>
</div>
</div>
