@use '@angular/material' as mat;

$mat-card__types: (
  default: (
    background-color: #2E5DA4,
    opacity: 1,
    border: unset,
    cursor: pointer,
  ),
  hover: (
    background-color: #2E5DA4,
    opacity: .8,
    border: unset,
    cursor: pointer,
  ),
  active: (
    background-color: #2E5DA4,
    opacity: .7,
    border: 2px solid #FFFFFF,
    cursor: pointer,
  ),
  disabled: (
    background-color: gray,
    opacity: 1,
    border: unset,
    cursor: not-allowed,
  ),
);

.card-container {
  width: 580px;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    > * {
      font-size: 24px;
    }

    h1 {
      margin-bottom: 0;
      font-weight: 500;
      line-height: 24px;
    }

    mat-icon {
      cursor: pointer;
    }
  }

  &__icon-bottom {
    position: absolute;
    bottom: -12px;
    right: 0;
    width: auto;
    height: auto;
    font-size: 48px;
    opacity: .1;
  }
}

.custom-card {
  @each $state, $styling in $mat-card__types {
    &__#{$state} {
      ::ng-deep .mat-card {
        padding: 16px 16px 24px 24px !important;
        background-color: map-get($styling, background-color);
        opacity: map-get($styling, opacity);
        border: map-get($styling, border);
        cursor: map-get($styling, cursor);
        border-radius: 4px;
        height: 81px;
        width: 214px;
        box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);

        &.cdk-drag-dragging {
          box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
          z-index: 3;
        }

        &.mat-ripple {
          display: grid;
          grid-template-areas:
            "title title subtitle"
            "content content subtitle";
          gap: 8px;
          justify-content: space-between;
          align-items: center;
          color: #FFFFFF;

          >.mat-card-title {
            grid-area: title;
            margin-bottom: 0;
            font-size: 16px;
            line-height: 16px;
          }

          >.mat-card-subtitle {
            grid-area: subtitle;
            margin-bottom: 0;
            margin-top: 0;
            font-size: 32px;
            color: inherit;
          }

          >.mat-card-content {
            grid-area: content;
            margin-bottom: 0;
            line-height: 14px;
          }

          >.mat-icon {
            position: absolute;
            bottom: -12px;
            right: 0;
            color: white;
            opacity: .2;
            font-size: 50px;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}



