<div style="display: flex; flex-direction: column;">
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Title Input</mat-label>

    <input
      [(ngModel)]="cardTitle"
      (ngModelChange)="onCardTitleChange($event)"
      type="text"
      matInput
    >
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Content Input</mat-label>

    <input
      [(ngModel)]="cardContent"
      (ngModelChange)="onCardContentChange($event)"
      type="text"
      matInput
    >
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Subtitle Input</mat-label>

    <input
      [(ngModel)]="cardSubtitle"
      (ngModelChange)="onCardSubtitleChange($event)"
      type="number"
      matInput
    >
  </mat-form-field>
</div>
